<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="notesapp.com.quebasetech.joe.notestojoe">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Introduction"
            android:parentActivityName=".MainActivity"
            android:label="Introduction to Android"
            />
        <activity
            android:name=".volume_calculator"
            android:label="@string/title_activity_volume_calculator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Unit converter"
            android:name=".unit_converter" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Rate me"
            android:name=".Rating_App" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Explicit intent"
            android:name=".Explicit_intent" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".Home_page" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Implicit intents"
            android:name=".Implicit_Intent" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Notifications"
            android:name=".Notifications" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".Notifications_view" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Menus, Options and popup"
            android:name=".Menus" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Options menu"
            android:name=".OptionsMenu" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Orders, Custom list view"
            android:name=".Order_list"></activity>
    </application>

</manifest>